//Layout
.container {
  width: 100%;
  height: auto;
}


//Section styling
%section-shared {
  display: flex;
  height: 100%;
  min-height: 100vh;
  justify-content: center;

  .content-canvas {
    height: 100%;
    min-height: 100%;
  }
}

.section-headline {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

//Overlays
%overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 3;
  overflow-y: hidden;
  background: $backgroundTransparent;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &.hide {
    visibility: hidden;
  }
}

//Buttons
%overlayButtonShared {
  background: none;
  color: $textColorLight;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 3;
  @include transition-littleTime;

  &:hover {
    color: $dominantColor;
  }
}

.overlay-hide-btn {
  @extend %overlayButtonShared;
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  font-size: 4rem;
  align-self: flex-end;
  justify-self: end;
  margin-right: 6rem;
  transition: all 0.1s ease-in-out;

  &:hover {
    font-size: 4rem;
  }
}

.overlay-btn {
  @extend %overlayButtonShared;
}